.new-container {
    display: flex;
    height: 32%;
}

.newer-container {
    padding: 1em;
}

.add-instrument {
    margin: 1.6em;
}

.rolling-button {
    margin: 1.6em 40% 1em;
}

#contact-box {
    margin: 26% 32%;
}
