.title {
  margin-top: 65px;
  text-align: left;
  width: 400px;
}

.h4 {
  text-align: left;
}

.p {
  text-align: left;
}
.form-inputs {
  position: relative;
  width: 400px;
  color: black;
}

input {
  text-align: center;
}

// .form-actions {
//   margin-left: 25px;
//   margin-right: 25px;
//   background-color: black;
//   border-radius: 5px;
//   border: none;
//   padding: 4px 1px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 15px;
// }

.form-actions-two {
}

.input, .btn {
  color: white !important;
}

.button-width {
  min-width: 400px;
  margin-top: 10px;
}

.button-black {
  background: #292929;
  border-radius: 5px;
  padding: 9px 1px;
  margin-top: 15px;
}

.buttons-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-container {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: -1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 530px;
    height: 600px;
    border-radius: 15px;
    padding: auto;
    box-shadow: 0 25px 80px -12px rgba(0, 0, 0, 0.10);
}

.forgot-password {
    margin-bottom: 200px;
    margin-top: 15px;
    color: #046e7d;
    visibility: visible;
    font-size: 14px;
}

.form-check-label {
    color: black;
    margin-top: -20px;
    text-weight: 400;
}

.form-check {
  margin-top: 20px;
  color: black;
}

.input {
  visibility: hidden;
}

.form-control {
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  position: relative;
}

.h10 {
  color: #EAEAEA;
}
