.container > h3 {
  text-align: center;
  margin-top: 5%;
}

.container > h5 {
  text-align: center;
  font-size: bold;
}

.index-button {
  margin: 25px auto;
  font-weight: 350;
  border-radius: 5px; /* Green */
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  background-color: black;
  color: white;
  min-width: 100px;
  padding: 10px;
  &:hover {
    color: #6c2026;
    background-color: white;
  }
}

.nav-buttons {
  display: flex;
  margin: 0 auto; 
}

.index-show-flex {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
}

.index-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

.search-img {
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
}

.index-card-infos > h4, a {
  margin: 2%;
  color: #000;
  text-decoration: none;
  a:hover {
    color: #6c2026;
  }
}

.index-card-infos > h4 {
  margin-bottom: 7%;
}

.index-card-infos h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.index-card-infos p {
  font-size: 18px;
  line-height: 1.6;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.index-card-infos {
  background-color: white;
  text-align: center;
  padding: 18px;
  margin: 18px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}