<h3>Congrats! Your have successfully booked your instrument!</h3>

<div class="container">

    <div class="card-product">
      <%= cl_image_tag @booking.instrument.photo, brightness: 30, radius: 20, width: 300, height: 300, crop: :thumb %>
        <div class="card-product-infos">
          <h4><%= @booking.instrument.name.capitalize %></h4>

          <div id="price">
          <h6>
            Total price: <%= @total_price %>€
          </h6>
          </div>

          <div id="contact-box">
          <%= link_to "Contact the owner", instrument_booking_path(@booking), { class: "index-button" } %>
          </div>
      </div>
    </div>
  </div>
</div>
