<div class="container">

    <div class="newer-container">

        <h2 id="instrument-title">Thanks for testing Play-me...</h2>
        <p>Play me is a project conducted by 4 students as part of Le Wagon Programming bootcamp.</p>

    </div>
</div>
