<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>My landing page</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div id="headerdiv">
      <div class="banner" style="background-image: url(https://miro.medium.com/max/1440/0*s9IfCulpLHmTdB-2.jpg)">
    <div>
      <h2>Play your favorite instrument at any time.</h2>
      <br>
      <%= link_to "Browse all instruments", instruments_path, { class: "btn-ctr" } %>
    </div>
  </div>
  </div>


    <div class="container">
    <h2 class="text-center">Popular instruments</h2>
    <div class="cards">

      <a href="http://localhost:3000/instruments?q=cello" class="card">
        <img src="https://www.euro-unit.com/images/stories/virtuemart/product/student_cello_01.png" alt="" class="card-image">
        <h4>Cello</h4>
        <p>Play the most romantic instrument of them all</p>
      </a>

      <a href="http://localhost:3000/instruments?q=piano" class="card">
        <img src="https://www.kawai.de/grafik/sk6l.png" alt="" class="card-image">
        <h4>Piano</h4>
        <p>Produce the sound of an entire orchestra</p>
      </a>

      <a href="http://localhost:3000/instruments?q=guitar" class="card">
        <img src="https://www.musicgooddeal.com/45262-thickbox_default/lag-tkt150e-tiki-uku-mini-guitar-acoustic-electric.jpg" alt="" class="card-image">
        <h4>Guitar</h4>
        <p>Be the star of the show at any time</p>
      </a>

    </div>
  </div>

  <div class="container">
    <div class="cards">

      <a href="http://localhost:3000/instruments?q=drums" class="card">
        <img src="https://cdn.pixabay.com/photo/2016/04/07/05/20/drum-1313279_960_720.png" alt="" class="card-image">
        <h4>Drums</h4>
        <p>Learn to make noise in a rythmic manner</p>
      </a>

      <a href="http://localhost:3000/instruments?q=violin" class="card">
        <img src="https://1zvq3i19qvj53cofb61oncb1-wpengine.netdna-ssl.com/wp-content/uploads/2018/12/0000997_palatino-ppsi-035vn-44-violin.png" alt="" class="card-image">
        <h4>Violin</h4>
        <p>Become the soloist you always wanted to be</p>
      </a>

      <a href="http://localhost:3000/instruments?q=sax" class="card">
        <img src="https://www.mmc-music.de/images/categories/ALT1.png" alt="" class="card-image">
        <h4>Sax</h4>
        <p>Show the world how to jazz</p>
      </a>
    </div>
    <h2 class="text-center">How it works</h2>
    <p class="text-center">Instruments are usually rather expensive. Now how great would it be if you
    could easily play any instrument you want? <a href="http://localhost:3000/users/sign_in">Sign up here</a>,
     join our community of musicians and borrow the instrument you like at any given time!</p>
  </div>
</body>
</html>
