<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>My landing page</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div id="headerdiv">
      <div class="banner" style="background-image: url(https://miro.medium.com/max/1440/0*s9IfCulpLHmTdB-2.jpg)">
    <div>
      <h2>Play your favorite instrument at any time.</h2>
      <br>
      <%= link_to "Browse all instruments", instruments_path, { class: "btn-ctr" } %>
    </div>
  </div>
  </div>

    <div class="container">
    <h2 class="text-center">Popular instruments</h2>
    <div class="cards">

      <a href="http://localhost:3000/instruments?q=cello" class="card">
        <img src="https://img.alicdn.com/imgextra/i2/2484285517/TB2XfCMv0FopuFjSZFHXXbSlXXa_!!2484285517.png" alt="" class="card-image">
        <h4>Cello</h4>
        <p>Play the most romantic instrument of them all</p>
      </a>

      <a href="http://localhost:3000/instruments?q=piano" class="card">
        <img src="https://www.kawai.de/grafik/sk6l.png" alt="" class="card-image">
        <h4>Piano</h4>
        <p>Produce the sound of an entire orchestra</p>
      </a>

      <a href="http://localhost:3000/instruments?q=guitar" class="card">
        <img src="https://www.musicgooddeal.com/45262-thickbox_default/lag-tkt150e-tiki-uku-mini-guitar-acoustic-electric.jpg" alt="" class="card-image">
        <h4>Guitar</h4>
        <p>Be the star of the show at any time</p>
      </a>

    </div>
  </div>

  <div class="container">
      <div class="cards">

        <a href="http://localhost:3000/instruments?q=drums" class="card">
          <img src="https://cdn.pixabay.com/photo/2016/04/07/05/20/drum-1313279_960_720.png" alt="" class="card-image">
          <h4>Drums</h4>
          <p>Learn to make noise in a rythmic manner</p>
        </a>

        <a href="http://localhost:3000/instruments?q=violin" class="card">
          <img src="https://1zvq3i19qvj53cofb61oncb1-wpengine.netdna-ssl.com/wp-content/uploads/2018/12/0000997_palatino-ppsi-035vn-44-violin.png" alt="" class="card-image">
          <h4>Violin</h4>
          <p>Become the soloist you always wanted to be</p>
        </a>

        <a href="http://localhost:3000/instruments?q=sax" class="card">
          <img src="https://www.mmc-music.de/images/categories/ALT1.png" alt="" class="card-image">
          <h4>Sax</h4>
          <p>Show the world how to jazz</p>
        </a>
    </div>

    <div class="how-it-works-container">
      <div class="how-it-works-card">
        <h2 class="text-center">How it works</h2>
        <h5 class="text-center how-it-works">Instruments are usually rather expensive. Now how great would it be if you
        could easily play any instrument you want? Join our community of musicians and borrow the instrument you like at any given time!</h5>
        <div id="signup">
        <%= link_to "Sign up here", new_user_registration_path, { class: "btn-ctr" } %>
        </div>
      </div>
    </div>
    <div class="saxophonist">
    <%= image_tag 'saxophonist', style: 'height:120px; width:auto' %>
    </div>
  </div>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

</body>
</html>
