<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://miro.medium.com/max/1440/0*s9IfCulpLHmTdB-2.jpg);">
  <div class="container">
    <h1>Play Me enables <strong>You</strong> to<strong> play Your favorite instruments</strong>!</h1>
    <p>Register now and (learn to) play all your favorite instruments!</p>
    <a class="btn btn-flat" href="#">Register now</a>
  </div>
</div>
