.button_signup {
  margin: 5px auto;
  border-radius: 5px; /* Green */
  padding: 9px 1px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
