.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
<<<<<<< HEAD
  width: 64px;
  margin-bottom: 0;
=======
  width: 60px;
  margin-left: 12px;
>>>>>>> 68061323054e908f0b502f29ba160f7f1b0191bc
}
